.center, .center-text {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-children-horizontal {
  display: flex;
  justify-content: center;
}

.center-children-vertical {
  display: flex;
  align-items: center;
}

html, body {
  background-color: #F9F9F9;
}

.container {
  color: #050505;
}

.standard {
  color: #050505;
}

.standard-bg {
  background-color: #050505;
}

.inverse {
  color: #F9F9F9;
}

.sub-standard {
  color: #88888C;
}

.links {
  color: #4A9CEE;
}

.links:visited {
  color: 61.17647%;
}

.transparent-25 {
  color: rgba(0, 0, 0, 0.25);
}

.transparent-50 {
  color: rgba(0, 0, 0, 0.5);
}

.transparent-75 {
  color: rgba(0, 0, 0, 0.75);
}

.transparent-light-25 {
  color: rgba(255, 255, 255, 0.25);
}

.transparent-light-50 {
  color: rgba(255, 255, 255, 0.5);
}

.transparent-light-75 {
  color: rgba(255, 255, 255, 0.75);
}

.full-width {
  width: 100%;
}

.example-block {
  width: 200px;
  height: 50px;
  background-color: #050505;
  color: #F9F9F9;
}

.center-children-container {
  height: 200px;
  border: 2px solid #050505;
}
