@import './index';

html, body {
  background-color: $inverse;
}

.container {
  color: $standard;
}

.standard {
  color: $standard;
}

.standard-bg {
  background-color: $standard;
}

.inverse {
  color: $inverse;
}

.sub-standard {
  color: $sub-standard;
}

.links {
  color: $links;
}

.links:visited {
  color: lightness($links);
}

.transparent-25 {
  color: $transparent-25;
}

.transparent-50 {
  color: $transparent-50;
}
.transparent-75 {
  color: $transparent-75;
}

.transparent-light-25 {
  color: $transparent-light-25;
}

.transparent-light-50 {
  color: $transparent-light-50;
}
.transparent-light-75 {
  color: $transparent-light-75;
}

.full-width {
  width: 100%;
}

.example-block {
  width: 200px;
  height: 50px;
  background-color: $standard;
  color: $inverse;
}

.center-children-container {
  height: 200px;
  border: 2px solid $standard;
}
